body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( grey, black);
    font-family: Arial, Helvetica, sans-serif;
}
.bild {
    height: 5em;
    width: 5.5em;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    position: relative;
    left: -2em;
    top: -0.2em;
}
.navigation {
    width: 80%;
    height: 4.8em;
    margin: auto;
    margin-top: 1.2em;
    box-shadow: 0 2px 10px 4px rgba(255, 255, 255, 0.342);
}
.namn {
    font-size: 0.4em;
    background-image: url(/header.jpg);
    background-size: 100% 5em;
    border-bottom: 2px solid black;
    
}
.namn h1 {
    padding-top: 0.8em;
    text-align: center;
    padding-right: 3em;
    color: rgba(255, 255, 255, 0.753);
}
.navMeny li {
    list-style: none;
    display: inline;
    display: inline-block;
    font-size: 0.7em;
    padding-top: 1em;
    
}
.navMeny a {
    color: rgba(255, 255, 255, 0.753);
    text-decoration: none;
    padding-left: 1.5em;
}
a:hover {
    color: white;
}
a:active {
    color: black;
}
.navMeny {
    background-image : linear-gradient(to top,rgb(25, 30, 39),  rgb(255, 255, 255) 600%);
    height: 2.5em;
}
.navMeny ul {
    margin: 0;
    
}
#sectionContent {
    width: 80%;
    margin: auto;
    background-image : linear-gradient(to top,rgb(25, 30, 39),  rgb(255, 255, 255) 600%);
    box-shadow: 0 2px 10px 4px rgba(255, 255, 255, 0.342);
    color: rgba(255, 255, 255, 0.753);
}
#sectionContent p {
    padding: 0.5em;
}
.aboutMe {
    text-align: center;
    padding-top: 0.5em;
    font-size: 1.2em;
}
.kontakt {
    font-size: 0.8em;
}
.kontakt p{
    padding: 0;
    margin: 0;
}
.info {
    font-size: 0.7em;
}
#socialMedia {
    width: 80%;
    background-image : linear-gradient(to top,rgb(25, 30, 39),  rgb(255, 255, 255) 600%);
    box-shadow: 0 2px 10px 4px rgba(255, 255, 255, 0.342);
    text-align: center;
    margin: auto;
    margin-top: 1em;
}
.footerContent li {
    list-style-type: none;
    display: inline;
}
.footerContent ul {
    padding: 0;
    margin: 0;
}
.footerContent img {
    width: 9%;
    padding: 1em;
}
@media (min-width: 768px) {
    .bild {
        height: 6em;
        width: 7em;
    }
    .namn {
        height: 7em;
    }
    .navMeny {
        height: 3em;
    }
    .navigation {
        width: 80%;
        height: 6em;
    }
    .footerContent img {
        width: 7%;
        padding: 1em 4em;
    }
}

